## This Notebook is about Applied Data Science Capstone Project

In [152]:
import pandas as pd
import numpy as np

In [153]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Week 3 from here

# Importing Libraries

In [154]:
import lxml.html as lh
import requests

In [155]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

# Getting columns names

In [156]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print(i,name)
    col.append((name,[]))

1 Postcode
2 Borough
3 Neighbourhood

# Getting data

In [157]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

# Making DataFrame

In [158]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

# Removing records with Borough not assigned

In [159]:
df=df[df.Borough!='Not assigned']
df.head()

  Postcode           Borough     Neighbourhood\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n

# Replacing Not assigned Neighbourhoods with Borough

In [160]:
indexes=df['Neighbourhood\n']=='Not assigned\n'
df.loc[indexes,'Neighbourhood\n']=df.loc[indexes,'Borough']
df.head()

  Postcode           Borough     Neighbourhood\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n

# Combining Neighbourhoods

In [161]:
df = df.groupby(df['Postcode']).aggregate({'Borough': 'first', \
                                               'Neighbourhood\n': 'sum'})
df.head()

              Borough                           Neighbourhood\n
Postcode
M1B       Scarborough                          Rouge\nMalvern\n
M1C       Scarborough  Highland Creek\nRouge Hill\nPort Union\n
M1E       Scarborough       Guildwood\nMorningside\nWest Hill\n
M1G       Scarborough                                  Woburn\n
M1H       Scarborough                               Cedarbrae\n

# Shape of DataFrame

In [151]:
df.shape

(103, 2)